body {background-color: #0BF4BE;}
h1   {color: #ffffff;
     font-size: 20px;
}
h2   {color: #ffffff;}
h3   {color: blue;}
p    {color: red;}
a    {color: blue;}

.container 
{
margin-left: auto;
margin-right: auto;
width:75%;
}

header {
  width: 100%;
  float: left;
  background-color: #3119DB;
  padding: 40px;
}

.title {
     width:25%;
     display: inline-block;
     float:left;
}
.menu {
     width:75%;
     display: inline-block;
     float:left;
}
     main {
     clear: both;
}
