
     body {background-color: #ffffff;
     font-family: 'Roboto';
     font-weight: 400;
     margin: 0px;

}

h1   {color: #111111;
     font-size: 40px;
     font-weight: 700;
}

h2   {color: #111111;
     font-size: 90px;
     font-weight: 700;
     width: 80%;
     margin:0px;

}

span {
     color: red;
     
}

p    {color:#333333;
     width: 80%;
     padding-bottom: 100px;

}
a    {color: blue;}

.container 
{
     margin-left: auto;
     margin-right: auto;
     width:75%;
}

header {
     width: 100%;
     float: left;
     background-color: #ffffff;
     padding-bottom: 100px;
}

.title {
     width:25%;
     display: inline-block;
     float:left;
}
.menu {
     width:75%;
     display: inline-block;
     float:left;
}
     main {
     clear: both;
}

nav {
     width:75%;
     display: inline-block;
     float:left;
}

ul {
     padding:0px;
     margin:8px;
     text-align:right;
}

li {
     list-style:none;
     display:inline-block;
     margin-left:28px;
}

li a {
     color:black;
     font-size: 20px;
}

footer {
     background-color: #B71515;
     color: #ffffff;
     text-align: center;
     padding-bottom: 20px;
     padding-top:20px;
}

.redblock {
     width: 100%;
     height: 100px;
     background-color: red;
     clear: both;
     
}

.leftbox {
     width: 50%;
     float: left;
}

.rightbox {
     width: 50%;
     float: left;    
}

.rightbox img {
     width: 100%;
}

code h1,
code h2,
code h3,
code h4,
code h5,
code h6
{

     font-size: revert;
}

.learning-context h2 {
     font-size: 28px;
     font-weight: 300;
     border-bottom: 1px solid #777777;
}
