body {background-color: #ffffff;}
h1   {color: #111111;
     font-size: 30px;
}
h2   {color: #111111;}
font-size: 72px;

}

p    {color:#333333;}
a    {color: blue;}

.container 
{
margin-left: auto;
margin-right: auto;
width:75%;
}

header {
  width: 100%;
  float: left;
  background-color: #ffffff;
  padding: 40px;
}

.title {
     width:25%;
     display: inline-block;
     float:left;
}
.menu {
     width:75%;
     display: inline-block;
     float:left;
}
     main {
     clear: both;
}

nav {
     width:75%;
     display: inline-block;
     float:left;
}

ul {
     padding:0px;
     margin:8px;
     text-align:right;
}

li {
     list-style:none;
     display:inline-block;
     margin-left:28px;
}

li a {
     color:black;
     font-size: 20px;
}
